/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

html,
body {
    position: relative;
    height: 100%;
    /* width: 100%; */
    scroll-behavior: smooth;

}

body {
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
}

/* ubed header */
.custom-header {
    overflow: hidden;
    position: sticky;
    /* position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; */
    background-color: #fff;
    padding: 10px;
    /* width: 100%; */
    /* height: 60px; */
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: "logo button"
        "navbar navbar";
    align-items: center;
    /* gap: 10px 0; */
}

.custom-header.events {
    position: fixed;
    width: 100%;
    z-index: 50;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}



@media screen and (min-width: 768px) {
    .custom-header {
        grid-template-rows: initial;
        grid-template-areas: initial;
        grid-template-columns: initial;
        display: flex;
        justify-content: space-between;
    }

    .logo,
    .navbar-open,
    .custom-header-nav {
        grid-area: initial;
    }



    .navbar-open {
        display: none;
    }

    .custom-header-nav {
        width: max-content !important;
        flex-direction: row !important;
        max-height: initial !important;
        overflow: auto !important;
        align-items: center !important;
    }

    .custom-header-nav-link {
        padding: 10px 15px;
        border-radius: 5px;
        font-size: large;
        color: black !important;
        transition: all 250ms ease-in-out;
    }

    .custom-header-nav-link:hover {
        background-color: #00673A;
        color: white !important;
    }

    .custom-header-nav-link.active {
        background-color: #EF5B34;
        color: white !important;
    }
}

.custom-select {
    background: none;
    /* box-shadow: ; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    font-size: 16px;
    border: 0;
    outline: 0;
    text-align: center;
}

.custom-header.open {
    gap: 10px 0;
}

.logo {
    width: 150px;
    grid-area: logo;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .logo img {
        margin-left: 20px;
    }
}

.navbar-open {
    grid-area: button;
    justify-self: end;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 3px;
}

.custom-header-nav {
    grid-area: navbar;

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: flex-end;

    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.custom-header.open .custom-header-nav {
    max-height: 500px;
    overflow: auto;
}

.custom-header-nav-link {
    text-decoration: none;
    color: #2F3490;
}



/* Ubed Social */
.social {
    position: fixed;
    top: 75px;
    right: 15px;
    z-index: 10;
}

.social ul {
    padding: 0px;
    transform: translate(270px, 0);
}


.social ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

.social ul li {
    display: block;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: left;
    padding: 5px;
    border-radius: 0 30px 30px 0;
    border-radius: 30px 30px 30px 30px;
    transition: all 1s;
}

.social ul li:hover {
    transform: translate(-120px, 0);
    background: rgba(255, 255, 255, 0.4);
}

.social ul .instagram-icon i {
    color: #fff;
    background: #d6249f;
    margin-right: 5px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social ul .facebook-icon i {
    color: #fff;
    background: #3b5998;
    margin-right: 5px;
    padding: auto;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social ul .whatsapp-icon i {
    color: #fff;
    background: #338924;
    margin-right: 5px;
    padding: auto;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social ul .youtube-icon i {
    color: #fff;
    background: #aa2727;
    margin-right: 5px;
    padding: auto;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social ul .telegram-icon i {
    color: #fff;
    background: rgb(39, 124, 170);
    margin-right: 5px;
    padding: auto;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social ul .twitter-icon a {
    display: flex;
    align-items: center;
    padding: auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social ul .twitter-icon img {
    color: #fff;
    /* background: rgb(39, 124, 170); */
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding: auto;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}


.social ul li:hover img,
.social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    /*   transform: rotate(-360deg); */
    transition: all 1s;
}

.social ul .instagram-icon:hover i {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social ul .facebook-icon:hover i {
    color: #fff;
    background: #3b5998;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social ul .whatsapp-icon:hover i {
    color: #fff;
    background: #338924;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social ul .youtube-icon:hover i {
    color: #fff;
    background: #aa2727;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}


/* Ubed Social */
.social ul li img,
.social ul li i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    color: #000;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: #ffffff;
    transform: rotate(0deg);
}

/* Responsive hide */
@media only screen and (max-width: 768px) {
    .social {
        display: none;
    }
}


/* verticle swiper sliders */


.swiper {
    width: 100%;
    /* height: 100vh; */
    height: calc(100vh - 75px);
}

.swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    /* background: #f56161; */
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2f3490;
}

/* For mobile phones: */

/* if users don't wants dots on mobile phones*/
/* @media only screen and (max-width: 768px) {

    .swiper-pagination {
        display: none;
    }
} */

/* horizontal slides banner */
.slider-k1-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/k1banner.jpeg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.horizontal-slider {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/k1banner.jpeg"); */
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border: 1px solid rgb(191, 211, 192); */
    /* background-color: #285AEB; */
}

#section-1-banner-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/banner-1.jpg");
    object-fit: cover;
}

#section-1-banner-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/banner-2.jpg");
    object-fit: cover;

}

#section-1-banner-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/banner-3.jpg");
    object-fit: cover;

}

.horizontal-slider .k1-banner-text {
    text-align: left;
    height: 30%;
    width: 50%;
    margin-left: -21%;
    z-index: 100;
    color: #2f3490;
    color: #fff;
    background: transparent;
    /* background-color: #338924; */
    /* border: 1px solid red; */

}

.horizontal-slider .k1-banner-text h1 {
    font-weight: 900;
    font-size: 55px;
    margin: 20px 0;
}

.horizontal-slider .k1-banner-text p {
    font-weight: 400;
    margin: 20px 0;
    font-size: 26px;

}

.horizontal-slider .k1-banner-text .horizontal-slider-btn {
    border: none;
    outline: 0;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: black;
    color: white;
    background-color: #ef5b34;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    cursor: pointer;

}

.horizontal-slider .k1-banner-text .horizontal-slider-btn:hover {
    background-color: #2f3490;
}

@media only screen and (max-width: 768px) {

    /* #section-1-banner-1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/Banner-1.jpg");
    }

    #section-1-banner-2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/Banner-2.jpg");

    }

    #section-1-banner-3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/Banner-3.jpg");

    } */

    .horizontal-slider .k1-banner-text {
        height: 40%;
        width: 90%;
        margin-left: 0;
    }

    .horizontal-slider .k1-banner-text h1 {
        font-weight: 700;
        font-size: 28px;
        margin: 10px 0;
    }

    .horizontal-slider .k1-banner-text p {
        font-weight: 200;
        margin: 18px 0;
        font-size: 18px;

    }

    .horizontal-slider .k1-banner-text .horizontal-slider-btn {
        font-weight: 900;
        font-size: 16px;

    }
}

/* section-2 */

.section-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/joint-event.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border: 1px solid rgb(191, 211, 192); */
    background-color: #285AEB;


}

.section-2 .k1-banner-text {
    /* text-align: left; */
    height: 60%;
    width: 70%;
    /* margin-top: -15%; */
    z-index: 100;
    color: #2f3490;
    color: #fff;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #338924; */
    /* border: 1px solid red; */

}

.section-2 .k1-banner-text h1 {
    font-weight: 900;
    margin: 20px 0;
    font-size: 55px;
}

.section-2 .k1-banner-text p {
    font-weight: 500;
    font-size: 26px;


}

.section-2 .k1-banner-text .section-2-btn {
    border: none;
    outline: 0;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: black;
    color: white;
    background-color: #ef5b34;
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    cursor: pointer;

}

.section-2 .k1-banner-text .section-2-btn:hover {
    background-color: #2f3490;
}


@media only screen and (max-width: 768px) {


    .section-2 .k1-banner-text {
        width: 90%;
    }

    .section-2 .k1-banner-text h1 {
        font-weight: 600;
        margin: 10px 0;
        font-size: 28px;
    }

    .section-2 .k1-banner-text p {
        font-weight: 200;
        font-size: 18px;


    }

    .section-2 .k1-banner-text .section-2-btn {

        padding: 10px 25px;


        font-weight: 900;
        font-size: 16px;


    }
}

/* section-2 end */
.mySwiper-leader {
    height: 100%;
}

.mySwiper-leader .swiper-slide {
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
}


.mySwiper-leader .swiper-button-prev,
.mySwiper-leader .swiper-button-next {
    /* margin-top: 220px; */
    color: #ef5b34;
    color: #fff;
}

.mySwiper-leader .card-content {
    height: 6em;
    width: 100%;
    background-color: #2F3490;
    text-align: center;
    /* padding-top: 20px; */
}

.mySwiper-leader .card-content h2 {
    margin-top: 30px;
}


.mySwiper-leader .card-image {
    height: 100%;
    overflow: hidden;
}

.mySwiper-leader .card-image img {
    transition: all 0.3s;
    transform: scale(1);
}

.mySwiper-leader .card-image:hover img {
    transform: scale(1.1);
}


.section-leader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20));
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: green;


}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    height: 100vh;

}

@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .card img {
        /* height: 100%;
        width: 100%; */
        object-fit: cover;
        margin-inline: none;
        align-items: baseline;
        justify-items: last baseline;
    }

    .card h2 {
        text-align: center;
        z-index: 12;
    }

    .card p {
        text-align: center;
        z-index: 12;
    }

    .section-leader .k1-banner-text {
        font-size: 35px;
    }

}

.card {
    border: solid whitesmoke;
}

.card2 {
    background-color: #ef5b34;
}

.card img {
    height: 100%;
    margin-inline: auto;
}


.card img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}


.card h2 {
    padding: 3px;
    font-size: 25px;
    margin: 0;
    background-color: #2f3490;
    color: #fff;
}

.card p {
    padding: 3px;
    font-size: 14px;
    margin: 0;
    background-color: #2f3490;
    color: #fff;
}

.card h2:hover {
    color: #ff5733;
    transform: scale(1.05);
}

.card p:hover {
    color: #ff5733;
    transform: scale(1.05);
}


.section-leader .k1-banner-text {
    height: 25%;
    width: 40%;
    margin-top: 13%;
    margin-left: 30%;
    z-index: 100;
    color: whitesmoke;
    background: transparent;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    text-align-last: right;
}

.section-leader .k1-banner-text h1 {
    font-weight: 750;
    text-align: right;
}

.section-leader .k1-banner-text p {
    font-weight: 600;

}

.section-leader .k1-banner-text .section-leader-btn {
    border: none;
    outline: 0;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: black;
    color: white;
    background-color: #ef5b34;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    cursor: pointer;

}

.section-leader .k1-banner-text .section-leader-btn:hover {
    background-color: #2f3490;

}

/* section-leader end */


/* .section-4 */

.section-4 {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/k1banner.jpeg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/Join-us.jpeg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border: 1px solid rgb(191, 211, 192); */
    background-color: #285AEB;


}

.section-4 .k1-banner-text {
    height: 80%;
    width: 40%;
    /* margin-top: 20%; */
    z-index: 100;
    color: #2f3490;
    color: #fff;
    background: transparent;
    /* border: 1px solid salmon; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-4 .k1-banner-text h1 {
    font-weight: 900;
    font-size: 55px;
}

.section-4 .k1-banner-text p {
    font-weight: 500;
    font-size: 26px;
}



.section-4 .k1-banner-text .section-4-btn {
    border: none;
    outline: 0;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: black;
    color: white;
    background-color: #ef5b34;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    margin: 10px;

}

.section-4 .k1-banner-text .section-4-btn-vln {
    border: none;
    outline: 0;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: black;
    color: white;
    background-color: #ef5b34;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    cursor: pointer;

}

.section-4 .k1-banner-text .section-4-btn:hover {
    background-color: #2f3490;
}

.section-4 .k1-banner-text .section-4-btn-vln:hover {
    background-color: #2f3490;
}

@media only screen and (max-width: 768px) {

    .section-4 .k1-banner-text {
        width: 90%;
        height: 65%;
    }

    .section-4 .k1-banner-text h1 {
        font-weight: 700;
        font-size: 30px;
    }

    .section-4 .k1-banner-text p {
        font-weight: 300;
        font-size: 18px;
    }
}

/* section-4 end */


/* .sectio-inspiration */

.section-inspiration {
    background-color: #00673A;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/inspiration-background.jpeg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}



.inspiration-title-tag {
    color: whitesmoke;
    text-align: center;
    font-size: 55px;
    margin-left: 20px;
    margin-top: 40px;
}

.mySwiper3 {
    width: 98%;
    height: 65%;
    top: 10%;

}

.mySwiper3 .swiper-button-prev,
.mySwiper3 .swiper-button-next {
    /* margin-top: 330px; */
    color: #fff;
    color: #ef5b34;
    /* background-color: #003067; */
}


.mySwiper3 .swiper-slide {
    min-height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: none;
    background: transparent;
}

.inspiration-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inspiration-card .inspiration-img {
    max-height: 70%;
    width: 90%;
    object-fit: contain;
    margin: auto;

}



.inspiration-content {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.inspiration-content p {
    margin: 0;
}

.inspiration-card-heading {
    font-weight: 700;

}

.inspiration-card-designation {
    font-style: italic;
}




@media only screen and (max-width: 768px) {

    .section-inspiration {
        gap: 70px;
    }

    .inspiration-title-tag {
        text-align: center;
        font-size: 30px;
        margin-top: 40px;
    }

    .mySwiper3 {
        height: 100%;
        top: 0;

    }

    .swiper-button-prev {
        z-index: 100;
        margin-top: -60px;
    }

    .swiper-button-next {
        z-index: 100;
        margin-top: -60px;
    }


    .inspiration-card .inspiration-img {
        max-height: 100%;
        width: 80%;
        object-fit: contain;
        background-size: contain;
        /* margin: auto; */

    }

    .section-inspiration .swiper-wrapper {
        height: 82%;
    }

    .inspiration-content p {
        margin: 10px auto;
    }


}

/* section-inspiration end */


/* .section-5 */

.section-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/k1banner.jpeg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border: 1px solid rgb(191, 211, 192); */
    background-color: #285AEB;


}

.section-5 .k1-banner-text {
    height: 30%;
    /* width: 40%; */
    /* margin-top: 20%; */
    z-index: 100;
    color: #2f3490;
    color: #fff;
    background: transparent;
    /* border: 1px solid salmon; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.section-5 .k1-banner-text h1 {
    font-weight: 900;
    font-size: 55px;
    margin: 30px 0;
}

.section-5 .k1-banner-text p {
    font-weight: 500;
    font-size: 26px;
    margin: 30px 0;

}

.section-5 .k1-banner-text .section-5-btn {
    border: none;
    outline: 0;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: black;
    color: white;
    background-color: #ef5b34;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    cursor: pointer;

}

.section-5 .k1-banner-text .section-5-btn:hover {
    background-color: #2f3490;
}

@media only screen and (max-width: 768px) {

    .section-5 .k1-banner-text h1 {
        font-weight: 700;
        font-size: 30px;
        margin: 20px 0;
    }

    .section-5 .k1-banner-text p {
        font-weight: 300;
        font-size: 18px;
        margin: 20px 0;

    }

}


/* section-5 end */

.k1-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/k1banner.jpeg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.k1-banner-leader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/happy-co-workers-close-window.jpg");
    /* position: relative; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    /* margin-bottom: 0; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid green; */
    /* padding: 10px; */
}

.slider-k1-banner .k1-banner-text {
    text-align: left;
    /* position: absolute;
    top: 50%;
    left: 20%; */
    /* transform: translate(-50%, -50%); */
    /* color: white; */
    padding: 1rem;
    color: #2f3490;
    color: #fff;
    background: transparent;
    border: 1px solid red;

}


.k1-banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: white; */
    padding: 1rem;
    color: #2f3490;
    color: #fff;
    background: transparent;

}

.k1-banner-leader .k1-banner-leader-text {
    /* position: absolute;
    bottom: 0; */
    /* text-align: center; */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.k1-banner-leader .k1-banner-leader-text button,
.k1-banner-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    color: white;
    /* background-color: #ddd; */
    background-color: darkblue;
    /* background-color: #ef5b34; */
    text-align: center;
    cursor: pointer;
}

.k1-banner-text button:hover {
    /* background-color: #555; */
    background-color: #6bf561;
    /* color: white; */
    color: black;

}

.k1-banner-leader,
.k1-banner {
    font-size: 22px;
    font-weight: 200;
}

.k1-banner p {
    font-size: 20px;
    font-weight: 200;
}

.k1-banner-leader button,
.k1-banner button {
    font-size: 18px;
    font-weight: 800;
}

/* footer css */

.section-6 {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 20px;
    background-color: #2F3490;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .make-donation {
    height: 50%;
    width: 100%;
    background-color: #6bf561;
    color: violet;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./img/donation.jpg);
    object-fit: cover;
} */

/* .make-donation p {
    margin: auto;
} */

.footer {
    width: 100%;
    /* height: 70%; */
    background-color: #2F3490;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    /* gap: 150px; */
}


.footer .twitter-icon a{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.footer .twitter-icon a img{
height: 20px;
width: 20px;
}

.mail-footer{
    display: flex;
    gap: 5px;
}

.copyright {
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    margin-top: 150px;
    color: #fff;
}


.footer .kpp-details ul {
    list-style: none;
    text-align: left;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    width: 250px;
}

.footer .kpp-details ul li {
    padding: 7px;
}



.kpp-details {
    text-align: center;
}

.kpp-details .underline-heading {
    position: relative;
    text-align: center;
    width: max-content;
    /* border-bottom: 1px solid #fff; */
    padding-bottom: 10px;
    font-size: 18px;
}

.kpp-details .underline-heading::before {
    content: "";
    display: block;
    content: '';
    width: 130%;
    height: 1px;
    background: #ff5e14;
    position: absolute;
    bottom: 0;
    left: -10px;
}



.footer .kpp-details ul a {
    text-decoration: none;
    color: rgb(241, 239, 238);
}

.footer .kpp-details :hover {
    color: rgb(235, 73, 55);

}

.footer .social-2 :hover {
    color: rgb(235, 73, 55);
}

/* Responsive hide */
@media only screen and (max-width: 768px) {



    .k1-banner-leader,
    .k1-banner {
        font-size: 1.2rem;
        font-weight: 200;
    }

    .k1-banner p {
        font-size: 1.2rem;
        font-weight: 200;
    }

    .k1-banner-leader-text {
        padding: 5px;
        font-size: 3vw;
    }

    .k1-banner-leader-text button,
    .k1-banner button {
        font-size: 1.2rem;
        font-weight: 500;
    }


    .k1-banner-text {
        text-align: center;
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* color: white; */
        padding: 4px;
        color: #2f3490;
        /* background: #f56161; */

    }

    .make-donation {
        font-size: 8vw;
        color: #fff;
        padding: auto 40px;
        height: 40%;
    }


    /* section-6 footer */

    /* .section-6 {
        display: block;
    } */

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* align-items: center; */
        position: relative;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px
    }


    .footer .footer-heading {
        position: absolute;
        top: 0;
        height: 8%;
        font-size: 25px;
        font-weight: 700;
    }

    .footer .footer-address {
        word-spacing: 10px;
    }

    .kpp-details {
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /* margin-top: 10px; */
    }

    .kpp-details .underline-heading {
        font-size: 14px;
        font-weight: 200;
        position: relative;
        width: max-content;
    }



    .kpp-details .underline-heading::before {

        width: 120px;
        width: 130%;
        height: 1px;
        background: #ff5e14;
        position: absolute;
        bottom: 0;
        left: -10px;
    }

    .footer .kpp-details ul {
        font-size: 12px;
        width: auto;

    }

    .footer .kpp-details ul li {
        padding: 5px;
    }



    .footer .kpp-details ul a:hover {
        font-size: 16px;
    }

    .copyright {
        width: 100%;
        display: flex;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        /* background-color: #f56161; */
        padding: 30px;
        margin-top: 100px;
    }


}


/* events css for sliders */


.events-landing-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00673A;
    color: #000;
    height: calc(100vh - 75px);
}

.events-landing-page.events {
    height: 100%;
}

.events-landing-page h1 {
    margin: 0;
    padding: 0;
    font-size: 52px;
    font-weight: 900;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


.container {
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.section-heading {
    font-size: 3rem;
    color: #000;
    padding: 2rem 0;
}

.section-subheading {
    /* font-size: 1px; */
    font-size: 18px;
    color:#000;
    padding: 5px 15px;
    width: 94%;
    /* text-align: justify; */
}

#tranding {
    padding: 20px 0;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/Join-us.jpeg"); */
    background-color: #fff;
    color: #000;
    /* margin: 20px 0; */
    /* height: calc(100vh - 75px); */
}

#tranding1 .swiper-wrapper,
#tranding .swiper-wrapper {
    height: 90%;
}

#tranding1 {
    padding: 20px 0;
    /* margin: 20px 0; */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/inspiration-background.jpeg"); */
    background-color: #fff;
    color: #000;
}

@media (max-width:1440px) {
    #tranding {
        padding: 3rem 0;
    }

    #tranding1 {
        padding: 3rem 0;
    }
}

#tranding1 .tranding-slider1,
#tranding .tranding-slider {
    height: 50rem;
    /* height: 100%; */
    padding: 2rem 0;
    position: relative;
}




/* #tranding1 .tranding-slider1 {
    height: 52rem;
    padding: 2rem 0;
    position: relative;
} */


@media (max-width:768px) {

    #tranding .section-heading,
    #tranding1 .section-heading {
        font-size: 32px !important;
    }

    #tranding {
        padding: 1rem 0;
    }

    #tranding1 {
        padding: 1rem 0;
    }

    #tranding .tranding-slider {
        height: 45rem;
    }

    #tranding1 .tranding-slider1 {
        height: 45rem;
    }

    .tranding-slide {
        width: 32rem;
        height: 33rem;
        position: relative;
        background: transparent;

    }

    #tranding1 .swiper-wrapper,
    #tranding .swiper-wrapper {
        height: 100%;
    }

    .tranding-slide .tranding-slide-img {
        background: transparent;
    }

    /* .tranding-slide .tranding-slide-img img {
       
        width: 100% !important;
        height: auto !important;

    } */
}

.tranding-slide {
    width: 37rem;
    height: 37rem;
    position: relative;
}

@media (max-width:500px) {
    .tranding-slide {
        width: 28rem !important;
        height: 36rem !important;
        background: transparent;
    }


    .tranding-slide .tranding-slide-img {
        background: transparent;
    }

    .tranding-slide .tranding-slide-img img {
        /* width: 28rem !important;
        height: 36rem !important; */
        width: 100% !important;
        height: auto !important;

    }

    /* .tranding-slider-control {

        bottom: 14rem;

    } */
}

.tranding-slide .tranding-slide-img img {
    width: 37rem;
    height: 37rem;
    border-radius: 2rem;
    object-fit: cover;
    background-size: contain;
}

.tranding-slide .tranding-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.tranding-slide-content .food-price {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--white);
}

.food-rating {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}

.rating ion-icon {
    color: #ffffff;
}



.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.tranding-slider-control {
    position: relative;
    /* margin-bottom: 2px; */
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

@media (max-width:990px) {
    .tranding-slider-control .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width:450px) {
    .tranding-slider-control .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width:990px) {
    .tranding-slider-control .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width:450px) {
    .tranding-slider-control .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

.tranding-slider-control .slider-arrow {
    width: 4.5rem;
    height: 2.5rem;
    /* border-radius: 50%; */
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
    font-size: 42px;
    color: #222224;
    z-index: 1000;
}

.tranding-slider-control .slider-arrow::after {
    content: '';
}

.tranding-slider-control .swiper-pagination {
    position: relative;
    width: 15rem;
    bottom: 2rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    /* filter: drop-shadow(0px 8px 24px rgba(37, 37, 192, 0.993)); */
    background-color: #000;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
    background-color: #00673A;
}

/* Leadership -page  */


/* events css for sliders */


.leadership-landing-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/banner-2.jpg");
    /* background-repeat: no-repeat;
    background-size: contain; */
    color: #000;
    height: calc(100vh - 75px);
}

.leadership-landing-page h1 {
    margin: 0;
    padding: 0;
    font-size: 52px;
    font-weight: 900;
    color: #fff;
}


.leadership-section {
    /* height: 100vh; */
    width: 100%;
    /* padding: 40px 0; */
    /* background-color: #ef5b34; */
    display: flex;
    position: relative;
}

.left-side-of-section {
    width: 50%;
    margin: 0 auto;
    /* background-color: #2f3490; */
}

.leadership-section-image-content {
    width: 80%;
    height: 80%;
    margin: auto;
}

.left-side-of-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.right-side-of-section {
    width: 50%;
}

.leadership-section-text-content {
    /* background-color: #00673a; */
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-leader-name {
    font-size: 40px;
    text-align: justify;

}

.section-leader-designation {
    font-size: 24px;
    text-align: justify;

}

.section-leader-summary {
    font-size: 18px;
    text-align: justify;
}


@media screen and (max-width: 768px) {
    .leadership-section {
        flex-direction: column;
        position: relative;
        gap: 10px;
        margin: 10px auto;
    }

    .leadership-landing-page h1 {
        font-size: 42px;
    }

    .section-leader-name {
        font-size: 22px;
    }

    .section-leader-designation {
        font-size: 18px;
    }

    .section-leader-summary {
        font-size: 16px;
    }

    .left-side-of-section {
        width: 100%;

    }

    #leadership-section-2,
    #leadership-section-4 {
        flex-direction: column-reverse;
    }

    .right-side-of-section {
        width: 100%;
    }

    .leadership-section-text-content {
        /* height: 250px; */
        margin: 20px auto;
    }
}


/* contact-us page */

.contact-us-main .contact-us-heading {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/Contact-page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-main .contact-us-heading h1 {
    /* width: 80%; */
    font-size: 48px;
    color: #fff;
    font-weight: 700;
}


.contact-us-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: min(90%, 600px);
    margin-inline: auto;
}

.contact-us-details h5 {
    font-weight: 600;
    font-size: 32px;
    color: #2f3490;
}

.contact-form-details p,
.contact-us-details p {
    text-align: justify;
}

.contact-lists {
    margin-top: 30px;
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 40px;
    font-size: 22px;
}

.contact-lists li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 22px;
}

.contact-lists li p:first-child {
    color: #2f3490;
    font-weight: 500;
}

.contact-lists li p:first-child i {
    margin-right: 10px;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 16px;
}

.contact-form-details p {
    font-size: 22px;
}

.contact-form-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    font-size: 22px;
}

.contact-form-section div:nth-child(3),
.contact-form-section div:nth-child(4) {
    grid-column: 1 / -1;
}

.contact-form-section div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form-section textarea,
.contact-form-section input {
    font-size: 22px;
    padding: 10px 2px;
}

.form-submit-btn {
    grid-column: 1 / -1;
    justify-self: center;
}

.form-submit-btn button {
    padding: 15px 40px;
    background-color: #2f3490;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

@media screen and (max-width: 640px) {
    .contact-form-section {
        grid-template-columns: 1fr;
    }



}


/* join-kpp-section */


.join-kpp-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgb(130, 106, 251);
    background: #fff;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/k1banner.jpeg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/Join-KPP_Join-KPP.jpg");

}


.join-kpp-container {
    position: relative;
    max-width: 700px;
    width: 100%;
    margin-left: 130px;
    margin-top: 130px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


.join-kpp-container header {
    font-size: 32px;
    color: #333;
    font-weight: 700;
    text-align: center;
}

.join-kpp-container .join-kpp-form {
    margin-top: 30px;
}

.join-kpp-form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.join-kpp-form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.join-kpp-form .column {
    display: flex;
    column-gap: 15px;
}

.select-box {
    padding: 0;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    /* color:; */
    font-size: 1rem;
    /* padding: 0; */

}

.join-kpp-form .input-checkbox {
    display: flex;
    align-items: center;
    gap: 20px
}

.input-checkbox input[type=checkbox] {
    width: 30px;
}

.join-kpp-form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    /* margin-top: 30px; */
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(130, 106, 251);
    background: #ef5b34;
}

.join-kpp-form a {
    color: #ef5b34;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.join-kpp-form a span {
    color: #ef344a;
    font-size: 22px;
}

.join-kpp-form button:hover {
    background: rgb(88, 56, 250);
    background: #e35027;
}

.join-kpp-form a:hover {
    color: #f53c09;
}

/* .submit-and-download-section {
    align-items: center;
} */
.kpp-form-downlaod-btn {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .join-kpp-section {
        justify-content: center;
    }

    .join-kpp-container {
        margin-right: 0;
    }

    .join-kpp-form .column {
        flex-wrap: wrap;
    }

    .join-kpp-form a {
        font-size: 14px;
    }

    .kpp-form-downlaod-btn {
        display: flex;
        justify-content: center;

    }

    .join-kpp-form a span {
        font-size: 18px;
    }


}