@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

html,
body {
    font-family: "DM Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6764ef;
}

.stats-section {
    width: 15vw;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.09);
}

.stats-card {
    display: flex;
    flex: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.icon-circle {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 2rem;
    background-color: #6764ef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 1.3rem;
    height: 1.3rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c2727;
    margin-top: 0.3rem;
}

.label {
    font-size: 0.8rem;
    color: #151414;
    margin-top: 0.1rem;
    text-align: center;
}